@import "https://unpkg.com/bulma@0.9.2/css/bulma.min.css";
@import "https://unpkg.com/@fortawesome/fontawesome-free@5.15.3/css/all.css";

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 3rem auto;
  grid-template-areas:
    "top-panel top-panel"
    "left-panel main";
}

#top-panel {
  grid-area: top-panel;
  background-color: #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#top-panel > * {
  margin-left: 8px;
  margin-right: 8px;
}

#left-panel {
  grid-area: left-panel;
  background-color: #ddd;
  padding: 16px;
}

#graph-main {
  grid-area: main;
  width: 100%;
  height: 100%;
}
#svg-main {
  width: 100%;
  height: 100%;
}

/* BULMA customizations */

.panel-heading.is-small {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.25;
  padding: 0.25em 0.5em;
}

.flex-column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.field-label.is-wide-2 {
  flex-grow: 2;
}

.button.is-slim {
  height: 1.5em;
}

.padding-0 {
  padding: 0;
}

.padding-05 {
  padding: 0.5rem;
}

.level.is-slim {
  margin-bottom: 0.2rem;
}
